<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
         http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <cache:annotation-driven cache-manager="noOpCacheManager"/>

    <!-- Disabling spring cache -->
    <bean id="noOpCacheManager" class="org.springframework.cache.support.NoOpCacheManager"/>

    <!-- Disabling Hibernate 2-d level cache -->
    <beans profile="jpa,datajpa">
        <util:properties id="disableCache">
            <prop key="entityManagerFactory.jpaPropertyMap[hibernate.cache.use_second_level_cache]">false</prop>
        </util:properties>

        <context:property-override properties-ref="disableCache"/>
    </beans>

</beans>