.home li{
    font-size: 18px;
}

.normal{
    color: green;
}

.excess{
    color: red;
}

.mealTable{
    width: 30%;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

.mealTable td{
    border: 1px solid black;
}

.mealTable th{
    border: 1px solid black;
}

.edit dl{
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

.edit dt{
    display: inline-block;
    width: 170px;
}

.edit dd{
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

tr[data-mealExcess="false"] {
    color: green;
}

tr[data-mealExcess="true"] {
    color: red;
}