<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="ru.javawebinar.topjava.repository.inmemory.InMemoryMealRepository" id="inmemoryMealRepository"/>

    <bean class="ru.javawebinar.topjava.service.MealService" id="mealService">
        <constructor-arg ref="inmemoryMealRepository"/>
    </bean>

    <bean class="ru.javawebinar.topjava.web.meal.MealRestController" id="mealRestController">
        <constructor-arg ref="mealService"/>
    </bean>

</beans>