table {
    border: 4px double black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
}

th {
    background: #00FF00; /* Цвет фона ячеек */
    padding: 10px; /* Поля вокруг содержимого ячеек */
    border: 2px solid black; /* Граница вокруг ячеек */
}

td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 2px solid black; /* Граница вокруг ячеек */
}

.coloredRed {
    color: #FF0000; /* Цвет текста */
}

.coloredGreen {
    color: #008000; /* Цвет текста */
}


